<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mindfulness Song Manager</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function validateName(){
          document.getElementById('songName').value =
              httpGet("/song_name?url=" + document.getElementById("ytLink").value);
        }
        function httpGet(theUrl)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
            xmlHttp.send( null );
            return xmlHttp.responseText;
        }
        function togglePlayed()
        {
            localStorage.setItem('showPlayed', document.getElementById("checkShowPlayed").checked)
            window.location.reload(false);
        }
        function toggleOutOfOffice()
        {
            localStorage.setItem('showOutOfOffice', document.getElementById("checkShowOutOfOffice").checked)
            window.location.reload(false);
        }
        function showPlayed()
        {
            var showPlayedSongs = localStorage.getItem('showPlayed');
            if(null === showPlayedSongs){showPlayedSongs = 'false';}
            document.getElementById("checkShowPlayed").checked = showPlayedSongs === 'true';
            return showPlayedSongs;
        }
        function showOutOfOffice()
        {
            var showPlayedSongs = localStorage.getItem('showOutOfOffice');
            if(null === showPlayedSongs){showPlayedSongs = 'false';}
            document.getElementById("checkShowOutOfOffice").checked = showPlayedSongs === 'true';
            return showPlayedSongs;
        }
    </script>

    <meta charset="utf-8">
    <style>
            table {
                border-collapse: collapse;
                border: 2px black solid;
                font: 12px sans-serif;
            }

            td {
                border: 1px black solid;
                padding: 5px;
            }
    </style>
</head>

<body onload="showPlayed()">

<div class="container">

    <div class="header">
        <h3 class="text-muted">Mindfulness Song Manager</h3>
    </div>

    <div class="jumbotron">
        <div id="header" style="position:relative;text-align:left;">
            <div id="sampleLink" style="position:absolute; top:0px; right:0px;">
                <a href="https://github.com/w-martin/mindfulness/issues" type="button"
                   class="btn btn-default" role="button">Request feature or Submit bug report</a>
            </div>
            <h2 style="text-align:left">Add a Song</h2>
        </div>
        <p class="lead"></p>
        <form action="/add-entry/" method="post">
            <div class="form-group">
                <label for="name">Your Name:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="What's your name?">
                <br>
                <label for="ytLink">YouTube Link:</label>
                <input type="text" class="form-control" id="ytLink" name="ytLink"
                       placeholder="Copy and paste the youtube link e.g. https://www.youtube.com/watch?v=9X_ViIPA-Gc">
                <br>
                <input type='button' name='autoDesc' class="btn btn-info"
                       value='Auto Fill Description (takes several seconds)' onclick="validateName()" />
                <br><br>
                <label for="songName">Song Description (Artist/Title):</label>
                <input type="text" class="form-control" id="songName" name="songName"
                       placeholder="What is the Artist and Title of the song?">

            {% if christmas_mode %}
                    <br>
                <input type="checkbox" name="christmasSong">Christmas Song
            {% endif %}

            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>

    <div class="jumbotron" id="playlist">
        <h2>Song Queue</h2>
        <label class="checkbox-inline"><input type="checkbox" id="checkShowPlayed" value=""
                                              onchange="togglePlayed()">Show Played</label>
        <label class="checkbox-inline"><input type="checkbox" id="checkShowOutOfOffice" value=""
                                              onchange="toggleOutOfOffice()">Show Out Of Office</label><br><br>
    </div>
    <script>
            d3.text("/playlist?showPlayed=" + showPlayed() + "&showOutOfOffice=" + showOutOfOffice(), function(data){
                var parsedCSV = d3.csv.parseRows(data);

                var no_songs = parsedCSV.length;
                var container = d3.select("#playlist")
                    .append("text").text(no_songs + " songs")
                    .append("table").attr("class", "table table-hover")

                    .selectAll("tr")
                        .data(parsedCSV).enter()
                        .append("tr")

                    .selectAll("td")
                        .data(function(d) { return d; }).enter()
                        .append("td")
                        .html(function(d) { return d; });
            });
    </script>

    <footer class="footer">
        <div id="footerText" style="position:relative;text-align:left;"><!-- define relative so child absolute's are based on this elements origin -->
            <div id="mindfulnessLink" style="position:absolute; top:0px; right:0px;">
                <a href="https://github.com/w-martin/mindfulness">https://github.com/w-martin/mindfulness</a>
            </div>
        </div>
    </footer>

</div>
</body>

</html>